<%- include("header") -%>

<h2>This is a about page</h2>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae ratione
  dolores impedit quis magni aspernatur odit distinctio et ab quas fugiat,
  voluptatem qui necessitatibus nesciunt dignissimos id minima provident
  architecto? Id cumque nobis praesentium porro a adipisci, molestias dolorem
  nam, beatae vitae, qui sunt itaque aliquam obcaecati ad perspiciatis dolorum?
</p>


<%- include("footer") -%>